.BodyFormLogin{
    height: 80vh;
    align-content: center;
    justify-items: center;
}

@keyframes borderPulse {
  0% {
    border-color: #ff0000ae;
  }
  25% {
    border-color: #00ff00ae;
  }
  50% {
    border-color: #0000ffae;
  }
  75% {
    border-color: #a200ffae;
  }
  100% {
    border-color: #ff00d9ae;
  }
}

.BoxFormLogin {
  width: 600px;
  height: 300px;
  background-color: #0e0e0e;
  align-content: center;
  justify-items: center;
  border-radius: 12px;
  border: 2px solid #ff4d4d;
  animation: borderPulse 4s linear infinite;
}
h2{
    margin: 10px;
    font-size: 24px;
    font-weight: 650;
}

form{
    justify-items: center;
    width: 70%;
}

.buttomLogin{
    align-content: center;
    justify-items: center;
    margin-top: 20px;
    width: 120px;
    height: 50px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
}