.footerClass {
    position: relative;
    bottom: 0%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    color: white;
    border-top: 3px solid white;
}


.direitosClass {
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;

}

.socialmediaClass {
    display: flex;
    align-items: center;
}

.socialmediaClass img {
    padding: 5px;
    width: 29px;
    height: auto;
}

.socialmediaClass a {
    margin: 0px;
}

@media (max-width: 875px) {
    .footerClass{
        width: 130vh;
    }

    .footerClass p {
        font-size: 11px;
    }

    img {
        width: 25px;
    }
}

@media (max-width: 450px){
    .footerClass{
        width: 57vh;
    }
    
}