.footerClass {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  color: white;
  border-top: 3px solid white;
}


.direitosClass{
    color: white;
    font-size: 12px;
    display: flex;
    align-items: end;
    margin-bottom: 3px;

}

.socialmediaClass{
    display: flex;
    align-items: center;
}

.socialmediaClass img {
    padding: 5px;
    width: 29px;
    height: auto;
}

.socialmediaClass a{
    margin: 0px;
}

