.aboutBodyPage {
    margin: 0 136px;
    justify-content: center;
}

.introducaoo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1250px;
    gap: 50px;
    margin: 50px 0px;
}
.introducaoo img{
    border-radius: 7px;
    width: 430px;
    height: auto;
}
.introducaoo p{
    font-size: 18px;
    line-height: 1.5;
}
h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    font-size: 20px;
}

li {
    color: white;
    margin-top: 3px;
}

span {
    color: #959595;
}

hr {
    margin-top: 3px;
    margin-bottom: 80px;
}

@media (max-width: 875px) {
    .aboutBodyPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px;
    }

    .introducaoo {
        display: flex;
        flex-direction: row;
        width: 95%;

    }
    h1{
        font-size: 23px;
    }

    .aboutBodyPage h2 {
        color: rgb(255, 255, 255);
        margin-bottom: 0px;
        font-size: 18px;
    }

    li {
        color: white;
        margin: 10px 10px;
    }
    .apresentacao{
        width: 95%;
    }

    .apresentacao span {
        color: #959595;
        font-size: 18px;
    }
    .aboutBodyPage p{
        font-size: 14px;
    }
    .introducaoo img{
    border-radius: 7px;
    width: 315px;
    height: auto;
}
    hr{
        width: 90%;
        margin-bottom: 20px;
    }

}

@media (max-width: 450px){
    .aboutBodyPage{
        width: 55vh;
    }
    .introducaoo{
        flex-direction: column-reverse;
    }
}