.bodyContact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px;
}

img{
    width: 300px;
}

.boxEmail{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 7px;
    min-width: 320px;
    border-radius: 12px;
}

p{
    color: black;
    margin-left: 7px;
}

input{
    margin: 8px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 6px;
}