.bodyContact {
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

img {
    width: 450px;
}

.boxEmail {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 405px;
    height: 465px;
    border-radius: 12px;
}

p {
    color: black;
    margin-left: 7px;
    margin-bottom: 1px;
    margin-top: 10px;
}

input {
    margin: 8px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 6px;
}

.custom-textarea {
    height: 140px;
    width: 455px;
    padding: 7px;
    margin-left: 7px;
    margin-right: 7px;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.5;
    vertical-align: top;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
    font-size: 16px;

}

.buttomContainer {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enviarButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-size: 20px;
    color: white;
    border-radius: 24px;
    width: 100px;
    height: 35px;
}

.containerCounterChar {
    display: flex;
    justify-content: right;
    align-items: center;

}

@media (max-width: 875px) {
    .bodyContact {
        width: 127vh;
        height: 630px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .imageEmail, img{
        width: 75px;
        margin-top: 8px;
    }

    .boxEmail {
        width: 350px;
        min-width: 350px;
    }
    .custom-textarea{
        width: 95%;
        height: 170px;
    }
}

@media (max-width: 450px){
    .bodyContact{
        width: 56vh;
    }
    
}