body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.taskbarClass {
  position: relative;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: 87px;
  overflow: hidden;
}

.taskbarClass::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 3px;
  background-color: white;  
  border-top-left-radius: 100% 50px;
  border-top-right-radius: 100% 50px;
}

.iconClass {
    display: flex;
    align-items: center;
}

.iconlClass img{
    width: 65px;
}

.tranducaoClass {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tranducaoClass img{
    width: 38px;
}

nav{
    display: flex;
}

a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    margin: 30px;

}

nav a.active {
    display: flex;
    justify-content: center;
    background: #00f2ff;
    font-size: 29px;
    font-weight: bold;
    color: black;
    border-radius: 12px;
    width: 155px;
    padding-bottom: 2px;
}