body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.taskbarClass {
  position: relative;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: 87px;
  overflow: hidden;
  border-bottom: 3px solid white;
}

.iconClass {
    display: flex;
    align-items: center;
}

.iconlClass img{
    width: 65px;
}

#tradImage{
    width: 50px;
}

.tranducaoClass {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
}

a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    margin: 30px;

}

nav a.active {
    display: flex;
    justify-content: center;
    background: #00f2ff;
    font-size: 29px;
    font-weight: bold;
    color: black;
    border-radius: 12px;
    width: 170px;
    padding-bottom: 2px;
}

@media (max-width: 700px){
    .taskbarClass{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 170px;
    }

    .linksClass{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    nav{
        width: 350px;
        display: flex;
        flex-direction: row;
        overflow-x: auto; 
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    nav a {
        flex: 0 0 auto;            
        margin-right: 10px;      
        padding: 8px 12px;
        text-decoration: none;
    }

}