.homePagaClass{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 570px;

}

.homeImg{
    margin: 50px;
}

.homeText{
    width: 460px;
}

h1{
    color: white;
}

@media (max-width: 700px){
    body{
        display: flex;
    }
    .homePagaClass{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 120vh;
    }

    .homeImg img{
        width: 250px;
        margin: 5px;
    }
    .homeText{
        width: 300px;
    }
}