.homePagaClass{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 570px;

}

.homeImg{
    margin: 50px;
}
.homeImg img{
    height: 500px;
    width: auto;
    border-radius: 7px;
}

.homeText{
    width: 460px;
}

h1{
    color: white;
}

@media (max-width: 700px){
    body{
        display: flex;
    }
    .homePagaClass{
        display: flex;
        flex-direction: column;
        width: 127vh;
        height: 120vh;
    }

    .homeImg img{
        width: 250px;
        height: auto;
    }
    .homeText{
        width: 300px;
    }
}

@media (max-width: 450px){
    .homePagaClass{
        width: 100%;
        height: 85%;
    }
    
}