.homePagaClass{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;

}

.homeImg{
    margin: 50px;
}

.homeText{
    width: 460px;
}

p{
  color: white;
  line-height: 1.5;
}